<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  {% load static %}
  <link rel="stylesheet" href="{% static 'main.css' %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Safety</title>
  <style>
    /* Left-align the content */
    .container {
      text-align: left;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="title">How do we look after our user's safety?</div>
    <div class="content">
      <p>Our carpooling app prioritizes safety by implementing a rigorous authentication process, including Aadhar number verification, to ensure a secure and trustworthy community of users. Additionally, we provide essential details such as age, gender, and ratings of potential co-passengers, empowering users to make informed decisions and choose companions that match their preferences. This commitment to safety and transparency creates a reliable and trustworthy carpooling environment, fostering trust and community among our users, and ensuring their peace of mind throughout their journey.</p>


  </div>

</body>
</html>
